<!DOCTYPE html>
<html>
    <head>
        <title>
            MULTIWEEK PROJECT
        </title>
    </head>
    <body>
        <form action="/upload" method="post", enctype="multipart/form-data">
            <label>Email1</label>
            <input type="text" name="email" placeholder="email1" required><br>
            <label>Email2</label>
            <input type="text" name="email" placeholder="email2"><br>
            <label>Email3</label>
            <input type="text" name="email" placeholder="email3"><br>
            <label>Email4</label>
            <input type="text" name="email" placeholder="email4"><br>
            <label>Email5</label>
            <input type="text" name="email" placeholder="email5"><br>
            <label>Image File </label>
            <input type = "file" name = "file" />
            <input type = "submit"/>
        </form>
    </body>
</html>